# Data Types and Structures Questions

## 1.  What are data structures, and why are they important ?
### Ans:- Data structures is the way to organizing, managing, and storing data so that it can be accessed and modified efficiently.

### Common Built-in Data Structures in Python:
* List ([]) - Ordered, mutable (changeable), allows duplicates.
Example: fruits = ["apple", "banana", "cherry"]
* Tuple (()) - Ordered, immutable (cannot be changed), allows duplicates.
Example: coordinates = (10.0, 20.5)
* Set ({}) - Unordered, mutable, does not allow duplicates.
Example: unique_values = {1, 2, 3}
* Dictionary ({key: value}) - Unordered (in older versions), mutable, stores key-value pairs.
Example: student = {"name": "Alice", "age": 25}

### Importance of Data Structure -
* Efficient Data Access - Enables fast and organized retrieval of data (e.g., dictionary lookups).
* Memory Management - Helps in using memory effectively depending on data type and usage.
* Improved Code Readability & Maintenance - Makes the logic easier to understand and update.
* Enables Complex Operations - Makes it easier to implement algorithms like sorting, searching, graph traversal, etc.
* Real-world Use Cases - Managing user information, inventory systems, network routing, and more rely heavily on appropriate data structures.

## 2.Explain the difference between mutable and immutable data types with examples.
### Ans:
### 1. Mutable Data Types - These can be changed after their creation — meaning you can modify, add, or remove elements without creating a new object.
Examples of Mutable Types:
* list
* dict (dictionary)
* set

### 2. Immutable Data Types - These cannot be changed after creation. If you try to modify them, a new object is created.
Examples of Immutable Types:
* int, float
* str (string)
* tuple
* bool

In [ ]:
# Example Mutable
my_list = [1, 2, 3]
my_list[0] = 100      # Modifies the list
print(my_list)        # Output: [100, 2, 3]

[100, 2, 3]

In [ ]:
# Example Immutable
my_str = "hello"
# Attempting to change the first character
my_str[0] = 'H'  # This will raise an error
print(my_str)

TypeError: 'str' object does not support item assignment

## 3. What are the main differences between lists and tuples in Python ?
### Ans-
* List is Mutable (data can be changed) while Tuple is Immutable (data cannot be changed)
* Syntax	of list is Square brackets: []	while suntax of Tuple is Round brackets: ()
*List is slower than tuple (more flexible) while Tuple	Faster than list (less flexible)
* List has many built-in methods while Tuple has	fewer built-in methods
* List is used when data may change	while Tuple is used when data should stay constant
* List uses more memory while Tuple is	more memory-efficient

## 4. Describe how dictionaries store data in python.
### Ans: A dictionary in Python is an unordered collection of data stored in key-value pairs. Each key is unique, and each key is associated with a value.

* Syntax - my_dict = {"Name": "Ravi"}, where "Name" is the key and "Ravi" is the value
### How Data is Stored Internally (Conceptually):
* Python uses a hash table to store dictionaries.
* Each key is passed through a hash function to convert it into an index.
* That index points to the value in memory.
* This makes lookup, insertion, and deletion operations very fast (on average O(1) time).

Key Feature
* Keys are unique	- You cannot have duplicate keys
* Keys are immutable -	Must be of immutable type (e.g. string, int, tuple)
* Values can be any type	int, string, list, another dictionary, etc.

## 5. Why might you use a set instead of a list in Python ?
### Ans:
* Use a list when	you need to preserve order, allow duplicates, or index by position.
* Use a set when	you need uniqueness, fast lookup, or set operations.

### When to Use a Set Over a List -
* To Remove Duplicates Quickly
* To Check for Membership Efficiently
* To Perform Set Operations

In [ ]:
# Example to remove duplicates
items = [1, 2, 2, 3, 4, 4, 5]
unique_items = set(items)
print(unique_items)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# Fast lookup - To Check for Membership Efficiently
items_set = {10, 20, 30}
print(20 in items_set)

True

## 6. What is a string in Python, and how is it different from a list ?
### Ans - A string in Python is a sequence of characters enclosed in quotes — either single ('...') or double ("...").

### how is it different from a list -
* String	is Sequence of characters for example - str1 = ("Hello") while List Sequence of any data type for example - List (["H", "e", "l", "l", "o"])
* String is Immutable (cannot be changed) while List is Mutable (can be changed)
* String contains element	only characters (e.g., 'a')	while List can contain mixed types
* Methods	- String-specific methods (.upper(), .split())	while List-specific methods (.append(), .pop())
* Syntax of String is Quotes:"abc" or 'abc'	while syntax of List is square brackets: [1, 2, 3]

## 7. How do tuples ensure data integrity in Python ?
### Ans- Tuples in Python are immutable, meaning once created, their content cannot be changed — and this is exactly how they ensure data integrity.

* How Tuples ensure data integrity:
  * Immutability - 	You can’t add, remove, or change tuple elements.
  * Hashable	Tuples - can be used as dictionary keys or in sets.
  * Safe Sharing -	You can pass tuples around without risk of modification.
  * Predictable	- Their content stays the same throughout the program.

## 8. What is a hash table, and how does it relate to dictionaries in Python ?
### Ans- A hash table is a data structure that stores key-value pairs using a hashing mechanism to enable fast access.
* It works like this:
  * A key is passed through a hash function.
  * This produces a hash value (an integer).
  * The hash value determines the index in an internal array.
  * The value is stored at that index.

### How Python Dictionaries Use Hash Tables - Python's built-in dict type is implemented using a hash table. That's how it achieves:
* Fast lookup (O(1) on average)
* Fast insertion and deletion
* Unique keys

### Hash Table Concepts Behind Dictionaries:
*  Hash Function -	Converts keys into numeric indices
* Buckets / Slots	- Internal storage locations for key-value pairs
* Collision Handling -	When multiple keys map to the same slot, Python resolves it using a method called open addressing

### Example
my_dict = {
    "name": "Alice",
    "age": 30
}

#### Python internally does:
* hash("name") → index_1 → stores "Alice"
* hash("age") → index_2 → stores 30

## 9.Can lists contain different data types in Python ?
### Ans: Python lists are heterogeneous, meaning they can hold a mix of any type of object — numbers, strings, booleans, even other lists or custom objects.

In [ ]:
# For example
list = [42, "hello", 3.14, True, [1, 2, 3], {"key": "value"}]
print(list)

[42, 'hello', 3.14, True, [1, 2, 3], {'key': 'value'}]

## 10.  Explain why strings are immutable in Python.
### Ans:In Python, strings are immutable, meaning once created, they cannot be changed. Any operation that seems to "modify" a string actually creates a new string.

### Reasons Why Strings Are Immutable:
* Efficiency (Memory Sharing)	- Immutable strings can be safely shared across multiple parts of code without copying.
* Hashing & Dictionary Use	- Strings need to be hashable to be used as keys in dictionaries or sets. Immutability ensures the hash value doesn't change.
* Security and Reliability -	Prevents unexpected bugs caused by changing string content elsewhere in code.
* Thread-Safety -	Multiple threads can safely access the same string without worrying about changes.

In [ ]:
# Example
text = "hello"
text[0] = "H"   # This will raise: TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

## 11.What advantages do dictionaries offer over lists for certain tasks ?
### Ans - Use a dictionary when:
* You need key-value mapping
* You want fast lookups
* You work with labeled/structured data

### Advantages of Dictionaries Over Lists:
* Faster Lookup by Key
* Better for Structured or Labeled Data - Use dictionaries when each item needs a name or label
* No Need to Remember Indexes - With lists, you access by position (person[0]), but with dictionaries you use meaningful keys (person["name"]).
* Easy to Update Specific Elements
* No Duplicate Keys - Prevents accidental duplicate entries — each key in a dictionary must be unique.
* Ideal for Representing JSON / API Data - Dictionaries map naturally to data from APIs or config files.

In [ ]:
# Example - Faster look up by Key
students = {"101": "Ravi", "102": "Medhansh"}
print(students["102"])  #Fast access using key

Medhansh

In [ ]:
# Example - when each item needs a name or label:
person = {"Name": "Ravi", "Age": 28, "City": "Delhi"}
person

{'Name': 'Ravi', 'Age': 28, 'City': 'Delhi'}

In [ ]:
# Example - Easy to Update Specific Elements
person["Age"] = 32
person

{'Name': 'Ravi', 'Age': 32, 'City': 'Delhi'}

## 12. Describe a scenario where using a tuple would be preferable over a list.
### Ans: Scenario: Storing Coordinates - Imagine you're building a mapping application and you need to store GPS coordinates:
*  Example - location = (28.6139, 77.2090)  # (latitude, longitude)
### Why Use a Tuple Here?
* Data Should Not Change	- Coordinates are fixed once captured — using a tuple ensures immutability, protecting the data.
* Improved Performance	- Tuples use less memory and are faster than lists for fixed-size data.
* Hashable (Can Be Dictionary Key) -	You can use tuples as keys in a dictionary: location_data = {(28.6139, 77.2090): "New Delhi"}
* Semantically Fixed Structure	- The pair (latitude, longitude) always has two values in a set order — tuples signal fixed structure.

### Use a tuple instead of a list when:
* The data is fixed and should not change
* You need to protect data integrity
* You want to use the data as a key in a set or dictionary

## 13. How do sets handle duplicate values in Python ?
### Ans: A set is an unordered collection of unique elements. In Python, sets automatically remove duplicate values.

#### Sets use a hash table internally, so:
* When you try to add a duplicate, Python checks the hash.
* If the hash already exists, the value is not added again.

In [ ]:
# Example
my_set = {1, 2, 3, 2, 4, 1}
print(my_set)

{1, 2, 3, 4}

## 14. How does the “in” keyword work differently for lists and dictionaries ?
### Ans- The "in" keyword is used for membership testing in Python, but it works differently for lists and dictionaries.
1. "in" with Lists - When used with a list, in checks if a value exists in the list. Checks elements (values). Works by scanning each item from left to right (linear search).
2. "in" with Dictionaries - When used with a dictionary, in checks if a key exists — not the value. Only checks keys, not values. Much faster than with lists because dictionaries use hash tables.

In [ ]:
# Example - "in" with list
Employee = ['Ravi', 'Medhansh', 'Rahul']
print('Ravi' in Employee)  # True
print('Divyank' in Employee)   # False

True
False

In [ ]:
# "in" with Dictionaries
Employee = {'Name': 'Ravi', 'Age': 32}
print('Name' in Employee)     # True (key exists)
print('Ravi' in Employee)     # False (value, not key)

True
False

## 15. Can you modify the elements of a tuple? Explain why or why not.
### Ans - No, we cannot modify the elements of a tuple because Tuples in Python are immutable, meaning once created, their contents cannot be changed — no adding, removing, or altering elements.

In [ ]:
my_tuple = (10, 20, 30)
my_tuple[1] = 99  # ❌ This will raise: TypeError

TypeError: 'tuple' object does not support item assignment

## 16. What is a nested dictionary, and give an example of its use case ?
### Ans - A nested dictionary is a dictionary inside another dictionary — meaning, the values of a dictionary can themselves be dictionaries.

### Use Case: Student Records System
In a school management system, you might want to store multiple students and their data in a structured way:

In [ ]:
# Example
students = {
    "101": {"name": "Ravi", "age": 32, "grade": "A"},
    "102": {"name": "Medhansh", "age": 20, "grade": "B"},
}
print(students)

#  Accessing Nested Values:
print(students["101"]["name"])
print(students["101"]["age"])



# The outer dictionary uses student IDs as keys.
# Each value is another dictionary holding that student’s details.

{'101': {'name': 'Ravi', 'age': 32, 'grade': 'A'}, '102': {'name': 'Medhansh', 'age': 20, 'grade': 'B'}}
Ravi
32

## 17.  Describe the time complexity of accessing elements in a dictionary.
### Ans -
#### 1. Average Case: O(1) — Constant Time
Accessing an element by key in a dictionary is very fast — it takes constant time on average, regardless of the size of the dictionary.
#### 2. Worst Case: O(n) — Linear Time
In rare cases (like when there are many hash collisions), access time may degrade to O(n). However, Python uses techniques like open addressing to minimize this.

## 18.  In what situations are lists preferred over dictionaries.
### Ans- lists are ideal in scenarios where:
1. Order and Sequence Matter - Use a list when the order of elements is important and you need to access them by position/index.
2. You Need to Store Items Without Labels - When you're storing a group of similar, unlabeled items, like numbers, names, or dates.
3. You Often Iterate Over Data in Order - Lists make it easy to loop through items in a sequence:
4. You Need to Store Duplicates - Lists allow duplicate values, unlike sets and dictionaries (which don’t allow duplicate keys).
5. You Need Mutable, Ordered Data - Lists can grow, shrink, and be reordered easily.
6. You Don’t Need Fast Lookup by Key
If you're not doing frequent lookups based on unique identifiers, a list is fine.

## 19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
### Ans - Traditionally in Python (before version 3.7), dictionaries were considered unordered because:
* They didn't preserve the insertion order of key-value pairs.
* The internal hashing mechanism rearranged entries for efficient lookup, not order.
### But Starting with Python 3.7+ (officially in 3.8):
*  Dictionaries preserve insertion order.
* Meaning: the items are returned in the same order they were added.

### Why Were They Considered Unordered Before?
* The goal was fast lookup, not ordered storage.
* Order could change across runs or when modifying the dictionary.
* Developers couldn’t rely on consistent ordering — unlike lists.

## 20. Explain the difference between a list and a dictionary in terms of data retrieval.
### Ans -
* In list data access by	Index (position) while in Dictionary data accessed	by Key (name/label)
* Example of List
fruits = ["apple", "banana", "cherry"]
* Example of dictionary Dictionary
person = {"name": "Ravi", "age": 32}
* Syntax to retrieve the data in list - fruits[2], where [2] is the index number while syntax to retrieve data in dictionary 	person["name"], where ["name"] is the key.

In [ ]:
#  Example of list
fruits = ["apple", "banana", "cherry"]
fruits[2]   # output - "cherry"

'cherry'

In [ ]:
# example of dictionary
person = {"name": "Ravi", "age": 32}
person["name"]  # output - "Ravi"

'Ravi'

# Practical Questions

## 1.  Write a code to create a string with your name and print it.

In [38]:
my_name = "Ravi Saxena"
print(my_name)

Ravi Saxena

## 2.  Write a code to find the length of the string "Hello World"

In [39]:
str = "Hello World"
print(len(str))

11

## 3. Write a code to slice the first 3 characters from the string "Python Programming"

In [43]:
string_1 = "Python Programming"
print(string_1[0:3])

Pyt

## 4.  Write a code to convert the string "hello" to uppercase

In [44]:
greeting = "hello"
uppercase = greeting.upper()
print(uppercase)

HELLO

## 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [53]:
str2 = "I like apple"

# Replace "apple" from "orange"
new_string = str2.replace("apple", "orange")
print(str2)
print(new_string)

I like apple
I like orange

## 6. Write a code to create a list with numbers 1 to 5 and print it

In [56]:
numbers = [1,2,3,4,5]
print("List of numbers : ",numbers)

List of numbers :  [1, 2, 3, 4, 5]

## 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [58]:
numbers_1 = [1,2,3,4]
numbers_1.append(10)
print("Updated List : ", numbers_1)

Updated List :  [1, 2, 3, 4, 10]

## 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [60]:
list = [1,2,3,4,5]
list.remove(3)
print("Updated List : ",list)

Updated List :  [1, 2, 4, 5]

## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [62]:
list_1 = ['a','b','c','d']
second_element = list_1[1]
print("Second Element of the list :", second_element)

Second Element of the list : b

## 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [63]:
list_2 = [10,20,30,40,50]
reverse_list_2 = list_2[::-1]
print("Reversed list :", reverse_list_2)

Reversed list : [50, 40, 30, 20, 10]

## 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [64]:
tuple_1 = (100,200,300)
print("Tuple element  :", tuple_1)

Tuple element  : (100, 200, 300)

## 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [67]:
tuple_2 = ('red', 'green', 'blue', 'yellow')
second_to_last_element = tuple_2[1:]
print("second to last element : ", second_to_last_element)

second to last element :  ('green', 'blue', 'yellow')

In [68]:
tuple_2 = ('red', 'green', 'blue', 'yellow')
second_to_last_element = tuple_2[-2]
print("second to last element : ", second_to_last_element)

second to last element :  blue

## 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [71]:
tuple_3 = (10,20,5,15)
minimum_number = min(tuple_3)
print("Minimum number is ", minimum_number)

Minimum number is  5

## 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [74]:
tuple_4 = ('dog', 'cat', 'rabbit')
index_cat = tuple_4.index('cat')
print("Index of element 'cat' : ",index_cat)

Index of element 'cat' :  1

## 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [76]:
fruit = ('mango', 'banana', 'apple')
if "kiwi" in fruit:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

## 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [82]:
set_1 = {'a','b','c'}
print("Element of the set is : ", set_1)

Element of the set is :  {'b', 'c', 'a'}

## 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [87]:
set_2 = {1,2,3,4,5}
set_2.clear()
print("Updated set : ",set_2)

Updated set :  set()

## 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [86]:
set_3 = {1,2,3,4}
set_3.remove(4)
print("Updated set : ",set_3)

Updated set :  {1, 2, 3}

## 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [90]:
set_1 = {1,2,3}
set_2 = {3,4,5}
Union_of_set = set_1 | set_2
print("Union of set_1 and set_2 : ", Union_of_set)

Union of set_1 and set_2 :  {1, 2, 3, 4, 5}

In [91]:
# OR
set_1 = {1,2,3}
set_2 = {3,4,5}
Union_of_set = set_1.union(set_2)
print("Union of set_1 and set_2 : ", Union_of_set)

Union of set_1 and set_2 :  {1, 2, 3, 4, 5}

## 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [92]:
set_1 = {1,2,3}
set_2 = {2,3,4}
intesection_of_set = set_1.intersection(set_2)
print("Intersection of set_1 and set_2 :", intesection_of_set)

Intersection of set_1 and set_2 : {2, 3}

In [93]:
# OR
set_1 = {1,2,3}
set_2 = {2,3,4}
intesection_of_set = set_1 & set_2
print("Intersection of set_1 and set_2 :", intesection_of_set)

Intersection of set_1 and set_2 : {2, 3}

## 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [94]:
dict_1 = {'name':'Ravi', 'age': 28, 'city': "Noida"}
print(dict_1)

{'name': 'Ravi', 'age': 28, 'city': 'Noida'}

## 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [98]:
dict_2 = {'name':'John', 'age':25}
dict_2['country'] ='USA'
print("Updated dictionary : ",dict_2)

Updated dictionary :  {'name': 'John', 'age': 25, 'country': 'USA'}

## 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [101]:
dict_3 = {'name':'Alice', 'age':30}
name = dict_3['name']
print("Value of the key 'name' is ", name)

Value of the key 'name' is  Alice

## 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [104]:
dict_4 = {'name':'Bob', 'age':22, 'city':'New York'}
updated_dict = dict_4.pop('age')
print("Updated dictionary is ", dict_4 )

Updated dictionary is  {'name': 'Bob', 'city': 'New York'}

## 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [107]:
dict_5 = {'name':'Alice', 'city': 'Paris'}
if 'city' in dict_5:
  print("city exist in dictionary")
else:
  print("city does not exist in dictionary")

city exist in dictionary

## 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [112]:
# Create a list
my_list = [1, 2, 'Ravi', 4.25, True]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry', 35, 50.50, False)

# Create a dictionary
my_dict = {'name': 'Ravi', 'age': 28, 'city': 'Noida'}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 'Ravi', 4.25, True]
Tuple: ('apple', 'banana', 'cherry', 35, 50.5, False)
Dictionary: {'name': 'Ravi', 'age': 28, 'city': 'Noida'}

## 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result(replaced).

In [116]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list in ascending oreder : ",random_numbers)

Sorted list in ascending oreder :  [23, 35, 45, 50, 100]

## 28.  Write a code to create a list with strings and print the element at the third index

In [119]:
string_list = ["apple", "banana", "pineapple", "date", "mango"]

updated_string_list = string_list[0:4]
# Print the list
print("Updated string list : ", updated_string_list)

Updated string list :  ['apple', 'banana', 'pineapple', 'date']

## 29. Write a code to combine two dictionaries into one and print the result.

In [121]:
dict_1 = {'name':'Ravi', 'age': 28, 'city': "Noida"}
dict_2 = {'employee_id': 101, 'company': "GeM", 'designatiom' : "Consultant"}

combined_dictionary = dict_1 | dict_2
print("Combination of dict_ and dict_2 is ", combined_dictionary)

Combination of dict_ and dict_2 is  {'name': 'Ravi', 'age': 28, 'city': 'Noida', 'employee_id': 101, 'company': 'GeM', 'designatiom': 'Consultant'}

In [122]:
# OR
dict_1 = {'name':'Ravi', 'age': 28, 'city': "Noida"}
dict_2 = {'employee_id': 101, 'company': "GeM", 'designatiom' : "Consultant"}

combined_dictionary = {**dict_1, **dict_2}
print("Combination of dict_ and dict_2 is ", combined_dictionary)

Combination of dict_ and dict_2 is  {'name': 'Ravi', 'age': 28, 'city': 'Noida', 'employee_id': 101, 'company': 'GeM', 'designatiom': 'Consultant'}

## 30.Write a code to convert a list of strings into a set.

In [1]:
list_1 = ['a', 'b', 'c', 'd']

# Convert list to set
converted_set = set(list_1)

print(converted_set)

{'a', 'c', 'b', 'd'}

In [3]:
type(converted_set)

set